    

#mainContainer 
    {
    height: 100%;
    clear: both;
    }
    

body
    {
    background-color: black;
    color: white;
    min-width: 500px;
    min-height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    }


a   
    {
    color: rgb( 97, 164, 240 );
    }


::-webkit-scrollbar
    {
    width: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    }


::-webkit-scrollbar:hover
    {
    background-color: rgba(255, 255, 255, 0.9);
    }

    
::-webkit-scrollbar-thumb
    {
    background-color: rgba(0, 0, 0, 0.5);
    }
    
::-webkit-scrollbar-thumb:hover
    {
    background-color: rgba(0, 0, 0, 0.7);
    }
    
      
    
/* ************************************
 *
 *              Containers
 * 
 * ************************************/


.noteContainer, .dummyNote, .noteEntry
    {
    position: relative;
    float: left;
   
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    }


    /* :: Dummy Note :: */
    
.noteContainer, .dummyNote
    {
    width: 100px;   /* the sum of .noteEntry with .noteControls has to have these limits */
    height: 100px;        
    }

.DummyNote-text
    {
    position: absolute;
    top: 1px;
    left: 1px;
    font-size: 150%;
    opacity: 0.5;
    }

.noteEntry
    {
    height: 80px;
    overflow: auto; 
    }
    
.noteEntry:focus
    {
    /*background-image: -webkit-linear-gradient(top, transparent 50%, rgba(130, 50, 0, 1));*/
    /*background-color: white;
    color: black;*/
    outline:none;
    }



.noteControls
    {
    height: 20px;
    cursor: pointer;
    }
    
.dummyNote
    {
    cursor: pointer;
    }
    

    /* The .noteEntry is the element that can be in focus, but we want to apply to the .noteContainer, so we add this
            class with javascript somewhere */
.noteContainer.NoteOnFocus
    {
    /*background-color: white !important;*/ /* the background-color is set with javascript on the element, so we need the !important to be able to overwrite it */
    /*color: black;*/
   
    outline: 4px dashed white;
    }

    
    /* //HERE qd a .noteEntry on focus, por o transform... n sei se da com css */
.noteContainer:hover, .noteContainer:focus, .dummyNote:hover, .dummyNote:focus, .NoteOnFocus
    {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 100;
    }


.dummyNote
    {
    background-color: rgb(40, 40, 40);
    outline: none;
    }



/* ************************************
 *
 *              Side buttons
 * 
 * ************************************/

.delNote, .openWindow, .NoteWindow-leftArrow, .NoteWindow-rightArrow, .NoteWindow-options
    {
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    
    cursor: pointer;
    position: absolute;
    
    z-index: 10;
    opacity: 0;
    }


.noteContainer .delNote
    {
    top: 3px;
    right: 8px;
    }

.openWindow
    {
    top: 3px; /* same as .delNote */
    left: 8px;
    }


.NoteWindow-leftArrow, .NoteWindow-rightArrow
    {
    opacity: 0.8;
    z-index: 101;   /* has to be higher than the one used for NoteWindow's overlay (but not higher than the next PopupWindow that can be created (for example the NoteWindow's options)) */
    }




.noteContainer:hover .delNote, .noteContainer:hover .openWindow,
.noteContainer:focus .delNote, .noteContainer:focus .openWindow,
.NoteOnFocus .delNote, .NoteOnFocus .openWindow

    {
    opacity: 0.2;
    }


.noteContainer .delNote:hover, .NoteWindow .delNote:hover, .noteContainer .openWindow:hover, .NoteWindow-leftArrow:hover, .NoteWindow-rightArrow:hover
    {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    }


/* ************************************
 *
 *              Menu
 * 
 * ************************************/

#menu 
    {           
    list-style-type: none;
    text-align: center;
    margin: 5px 6px;
    padding: 0;
    z-index: 100;
    overflow: visible;
    min-height: 30px;
    position: relative;
    }


#menu li 
    {
    float: left; 
    min-width: 120px;
    font-size: 1.125em;
    cursor: pointer;
    padding: 5px 10px;
    }
    
#menu li:hover
    {
    background-color: white;
    color: black;    
    }
    
    
#menu #message
    {
    -webkit-transition: opacity 1s cubic-bezier(0.1, 1, 0.1, 1);
    -moz-transition: opacity 1s cubic-bezier(0.1, 1, 0.1, 1);
    -o-transition: opacity 1s cubic-bezier(0.1, 1, 0.1, 1);
    transition: opacity 1s cubic-bezier(0.1, 1, 0.1, 1);
    
    /*min-width: //HERE */

    margin-left: 40px;  /* separate a bit from the menu */
        
    opacity: 0;
    }

/* ************************************
 *
 *        Popup window
 * 
 * ************************************/


.windowOverlay
    {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none; /* its going to be shown later with javascript */
    width: 100%;
    /*z-index: 100; is set with javascript*/
    }


.windowContainer
    {
    -webkit-transition-property: top, left;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
    
    -moz-transition-property: top, left;
    -moz-transition-duration: 0.2s;
    -moz-transition-timing-function: linear;
    
    position: fixed;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    overflow: auto;
    
    min-width: 200px;
    min-height: 100px;
    
    max-width: 90%;
    max-height: 85%;
    
   
    background-color: #000;
    color: #fff;
    
    /*resize: both; //HERE hmmmm */
    /*z-index: 200; set with javascript as well (because of having several windows)*/
    }

.windowContent
    {
    padding: 15px;
    border-radius: 15px;   /* same as in .windowContainer */
    min-width: 400px;
    }
    


/* ************************************
 *
 *        Note Window
 * 
 * ************************************/

.NoteWindow-menu
    {
    min-height: 15px;   
    }


.NoteWindow-text
    {
    cursor: text;
    min-height: 150px;
    }

.NoteWindow-text:focus
    {
    outline: 2px solid rgba(229, 151, 0, 0.5);
    }
   

.NoteWindow .delNote
    {
    opacity: 0.2;
    top: 7px;
    right: 15px;
    }


.NoteWindow-options
    {
    top: 5px;
    left: 13px;
    opacity: 1;
    /*cursor: pointer;
    font-size: 80%;*/
    }
    
    
.NoteWindow-selectBackgroundTypeContainer > *
    {
    float: left;
    margin-right: 5px;
    }
    
.NoteWindow-selectBackgroundTypeContainer
    {
    min-height: 30px;
    }
    
.NoteWindow-selected
    {
    padding: 0 7px;
    background-color: black;  /* #HERE */
    border: 2px solid white;
    color: white;
    }

.NoteWindow-fixed, .NoteWindow-generated
    {
    cursor: pointer;
    }


/* ************************************
 *
 *        Options Page - Sliders
 * 
 * ************************************/

    /* reduce the space occupied by the slider */
   
.ColorPicker-slider.ui-slider .ui-slider-handle
    {
    height: 0.8em;
    top: -0.2em;
    }


.ColorPicker-slider.ui-slider-horizontal
    {
    height: 0.6em;
    } 

.ColorPicker-slider.ui-slider
    {
    margin: 0;
    }


.ColorPicker-container
    {
    min-height: 90px;
    }

   /* force the container to occupy some space */

.ColorPicker-colorContainer
    {
    min-height: 20px;
    padding: 0 10px;
    }

    /* so that the value appears next to (to the left) the text */

.ColorPicker-textValueContainer > *
    {
    float: left;
    }
    
.ColorPicker-textValueContainer
    {
    clear: both;
    }

.ColorPicker-text
    {
    margin-right: 3px;
    }

/* ************************************
 *
 *        Options Page
 * 
 * ************************************/

#Options-documentation
    {
    margin-top: 30px;
    clear: both;
    }

#Options-backgroundColor, #Options-spellCheck
    {
    cursor: pointer;
    }
    
.Options-container
    {
    clear: both;
    min-height: 50px;
    }
    
.Options-container > *
    {
    float: left;
    }

.windowContent hr
    {
    clear: both;
    }

    
.ui-slider
    {
    width: 60%;
    margin: 20px;
    float: right;
    }


#Options-version
    {
    position: absolute;
    }


    /* server only */

#logout
    {
    position: absolute;
    top: 0px;
    right: 20px;
    }
