    

#mainContainer 
    {
    height: 100%;
    clear: both;
    }
    

body
    {
    background-color: black;
    color: white;
    }


.noteContainer, .dummyNote, .noteEntry
    {
    position: relative;
    cursor: pointer;
    float: left;
    width: 100px;
    height: 100px;
    
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    }


.noteContainer:hover, .noteContainer:focus, .dummyNote:hover, .dummyNote:focus
    {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    }


.dummyNote
    {
    background-color: rgb(40, 40, 40);
    }


    /* :::: Side buttons :::: */

.delNote
    {
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    
    cursor: pointer;
    position: absolute;
    

    z-index: 10;
    opacity: 0;
    }

.delNote
    {
    top: 5px;
    right: 10px;
    }


.noteContainer:hover .delNote
    {
    opacity: 0.2;
    }


.noteContainer:hover .delNote:hover
    {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    }


    /* :::: Menu :::: */

#menu 
    {           
    list-style-type: none;
    text-align: center;
    margin: 5px 0;
    padding: 0;
    z-index: 100;
    overflow: visible;
    width: 100%;
    }


#menu li 
    {
    float: left; 
    min-width: 120px;
    font-size: 1.125em;
    cursor: pointer;
    }